        <aside id="sidebar">
            <div class="d-flex">
                <button id="toggle-btn" type="button">
                    <%# <i class="lni lni-grid-alt"></i> %>
                    <%= image_tag("logo.png", alt: "mantenbot") %>
                </button>
                <div class="sidebar-logo">
                    <a href="#">Mantenbot</a>
                </div>
            </div>
            <ul class="sidebar-nav">
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="fa-solid fa-gauge"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="fa-solid fa-message"></i>
                        <span>New message</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="fa-solid fa-calendar-days"></i>
                        <span>Scheduel Message</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse"
                        data-bs-target="#auth" aria-expanded="false" aria-controls="auth">
                        <i class="fa-solid fa-landmark"></i>
                        <span>Histories</span>
                    </a>
                    <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Sent histories</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Error histories</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="fa-solid fa-user"></i>
                        <span>Users</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="fa-solid fa-note-sticky"></i>
                        <span>Templates</span>
                    </a>
                </li>
            </ul>
        </aside>